In [1]:
# Import the dependencies.
import pandas as pd
import gmaps

import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Constitucion,-35.3333,-72.4167,53.26,87,100,11.07,CL,2021-12-02 00:53:13
1,1,Banmankhi,25.8833,87.1833,64.36,62,8,2.24,IN,2021-12-02 00:53:13
2,2,Huarmey,-10.0681,-78.1522,66.52,86,100,6.64,PE,2021-12-02 00:53:14
3,3,Khatanga,71.9667,102.5000,-38.29,100,92,1.28,RU,2021-12-02 00:53:15
4,4,Port Moresby,-9.4431,147.1797,85.42,74,40,5.75,PG,2021-12-02 00:53:15

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Port Moresby,-9.4431,147.1797,85.42,74,40,5.75,PG,2021-12-02 00:53:15
9,9,Kapaa,22.0752,-159.3190,80.92,71,40,5.01,US,2021-12-02 00:52:48
10,10,Avarua,-21.2078,-159.7750,75.25,94,75,18.41,CK,2021-12-02 00:53:19
13,13,Dingle,10.9995,122.6711,78.13,92,100,11.27,PH,2021-12-02 00:53:21
26,26,Port Blair,11.6667,92.7500,80.28,86,100,22.48,IN,2021-12-02 00:53:30
29,29,Vaini,-21.2000,-175.2000,86.16,79,20,11.50,TO,2021-12-02 00:53:32
32,32,Ahuimanu,21.4447,-157.8378,83.79,68,75,12.66,US,2021-12-02 00:53:34
40,40,Cabo San Lucas,22.8909,-109.9124,77.14,66,74,6.96,MX,2021-12-02 00:53:08
41,41,Hilo,19.7297,-155.0900,77.25,88,42,3.00,US,2021-12-02 00:53:41
42,42,Caravelas,-17.7125,-39.2481,76.19,92,95,11.01,BR,2021-12-02 00:53:42

In [20]:
preferred_cities_df.count()

City_ID       296
City          296
Lat           296
Lng           296
Max Temp      296
Humidity      296
Cloudiness    296
Wind Speed    296
Country       296
Date          296
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4     Port Moresby      PG     85.42  -9.4431  147.1797
9            Kapaa      US     80.92  22.0752 -159.3190
10          Avarua      CK     75.25 -21.2078 -159.7750
13          Dingle      PH     78.13  10.9995  122.6711
26      Port Blair      IN     80.28  11.6667   92.7500
29           Vaini      TO     86.16 -21.2000 -175.2000
32        Ahuimanu      US     83.79  21.4447 -157.8378
40  Cabo San Lucas      MX     77.14  22.8909 -109.9124
41            Hilo      US     77.25  19.7297 -155.0900
42       Caravelas      BR     76.19 -17.7125  -39.2481

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Port Moresby,PG,85.42,-9.4431,147.1797,Lamana Hotel (Port Moresby)
9,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
13,Dingle,PH,78.13,10.9995,122.6711,SEGAYA PROPERTY
26,Port Blair,IN,80.28,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
...,...,...,...,...,...,...
1140,Oriximina,BR,83.05,-1.7656,-55.8661,Pousada Tia Amélia
1147,Daru,PG,85.87,-9.0763,143.2092,Daru Lodge
1150,Bang Saphan,TH,80.55,11.2126,99.5117,Ladawan Boutique Hotel
1153,Itarema,BR,80.38,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1154,Portel,BR,79.75,-1.9356,-50.8211,Kitnet do Marcos

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))